html, body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content:space-between;
    cursor: pointer;
}

body {
    background-image: url("images/_21_fire-background-gif_Best-Fire-Background-GIFs-Gfycat.gif");
    background-size: cover;
    color: rgb(240, 229, 229);
}
img {
    width: 150px;
}
.header {
    display: flex;
}
.score {
    display: flex;
    align-items: center;
    gap: 50px;
}
.score .playerScore {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.score .opponentScore {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 75px;
}
.mainHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.buttons {
    display: flex;
    gap: 80px;
}
#rockButton, #scissorsButton, #paperButton {
    background-color:transparent;
    border: 0;
}
#vsImg1, #vsImg2 {
    width: 100px;
}

